.locate-cards-section-main {
    margin: 16px 0 48px 0;

    .locate-cards-section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 24px;

        @media (max-width:1700px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media (max-width:1620px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width:1330px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width:1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:500px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .locate-card {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 12px;
            height: 100%;
            min-width: 0;
            cursor: pointer;

            .locate-card-image-div {
                position: relative;
                width: 100%;
                border-radius: 12px;
                overflow: hidden;
                height: 256px;

                div {
                    height: 100%;
                    outline: none;

                    &:focus {
                        outline: none;
                    }
                }

                img {
                    // max-height: 256px;
                    border-radius: 12px;
                    object-fit: cover;
                }

                .share-icon-main {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    border-radius: 50%;
                    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);
                    border: 1.5px solid transparent;
                    -webkit-mask-composite: exclude;
                    mask-composite: exclude;
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .locate-card-data-div {
                display: flex;
                flex-direction: column;
                gap: 4px;

                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19px;
                    color: #222222;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                p {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 19px;
                    color: #6A6A6A;
                }

                span {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19px;
                    color: #222222;
                }
            }
        }


        .slick-dots {
            bottom: 10px;
        }

        .slick-dots li button:before {
            color: #fff;
        }

        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #fff;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:hover:before {
            opacity: .25;
        }

        .slick-active {
            button {
                &:hover {
                    &::before {
                        opacity: 1 !important;
                    }
                }
            }
        }

        .slick-dots li,
        .slick-dots li button,
        .slick-dots li button::before {
            line-height: 10px;
            padding: 0;
            width: 10px;
            height: 10px;
            margin: 0;
        }

        .slick-disabled {
            display: none !important;
        }

        .slick-prev,
        .slick-next {
            z-index: 9;
        }

        .slick-arrow {
            width: 32px;
            height: 32px !important;
            background-color: rgba(255, 255, 255, 0.9);
            border: 1px solid rgba(0, 0, 0, 0.08);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;


            svg {

                path {
                    stroke: #000;
                }
            }
        }

        .slick-prev:before,
        .slick-next:before {
            font-size: 0;
            content: "";
        }

        .slick-next {
            right: 14px;
        }

        .slick-prev {
            left: 15px;

            svg {
                rotate: 180deg;
            }
        }

        .slick-slider {
            transition: .3s ease-in-out;

            .slick-arrow {
                transition: .3s ease-in-out;
                display: none;
            }

            &:hover {
                transition: .3s ease-in-out;

                .slick-arrow {
                    transition: .3s ease-in-out;
                    display: flex;
                }

            }
        }
    }
}