.earth-model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.earth-model-open {
        opacity: 1;
        visibility: visible;
    }

    &.earth-model-closing {
        opacity: 0;
        visibility: hidden;
    }

    .earth-model-main-background {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(34, 34, 34, 0.6);
        z-index: 11;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;

        &.earth-model-main-background-open {
            opacity: 1;
            visibility: visible;
        }

        &.earth-model-main-background-closing {
            opacity: 0;
            visibility: hidden;
        }
    }

    .earth-model-main {
        width: 100%;
        max-width: 1032px;
        z-index: 12;
        transform: translateY(100%);
        opacity: 0;
        transition: opacity 0.5s ease, transform 0.5s ease;
        background-color: #fff;
        border: none;
        border-radius: 12px;
        box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);

        &.earth-model-main-open {
            opacity: 1;
            transform: translateY(0);
        }

        &.earth-model-main-closing {
            opacity: 0;
            transform: translateY(100%);
        }

        .earth-model-body-main {
            height: 100%;

            .earth-model-header {
                display: flex;
                justify-content: start;
                align-items: center;
                padding: 16px 16px 16px;

                .earth-model-close-icon {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #F7F7F7;
                    }
                }
            }

            .earth-model-inner-body-main {
                height: calc(100vh - 144px);
                overflow-y: auto;
                padding: 0 24px;

                .earth-model-inner-body-top-line {
                    box-sizing: border-box;
                    width: 100%;
                    border-bottom: 1px solid #DDDDDD;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 16px;
                    transition: .4s ease-in-out;

                    button {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        padding: 10px 0;
                        margin: 6px 0;
                        position: relative;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: normal;
                        color: #6A6A6A;
                        cursor: pointer;
                        transition: .4s ease-in-out;

                        &.earth-model-button-active {
                            transition: .4s ease-in-out;
                            color: #222222;

                            &::after {
                                transition: .4s ease-in-out;
                                position: absolute;
                                content: "";
                                bottom: -6px;
                                left: 0;
                                width: 100%;
                                height: 2px;
                                background-color: #222222;
                            }
                        }
                    }

                }

                .earth-model-inner-body-details {
                    margin: 24px 0 0 0;
                    padding: 0 0 24px 0;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }

                .earth-model-inner-body-details-first-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 24px;
                    margin: 24px 0 0 0;
                    padding: 16px;
                    background-color: rgb(247, 247, 247);
                    border-radius: 8px;

                    span {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 8px;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 21px;
                        color: #222222;
                    }

                    p {
                        margin: 8px 0 0 0;
                        color: #6a6a6a;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 20px;
                        word-spacing: -1px;
                    }

                    .switch-container {
                        display: inline-block;
                        cursor: pointer;

                        .switch {
                            width: 48px;
                            height: 33px;
                            background-color: #ccc;
                            border-radius: 32px;
                            position: relative;
                            transition: background-color 0.3s ease;
                        }

                        .switch-on {
                            background-color: #222222;
                        }

                        .switch-circle {
                            width: 30px;
                            height: 30px;
                            background-color: #fff;
                            border-radius: 50%;
                            position: absolute;
                            top: 1px;
                            left: 2px;
                            transition: left 0.3s ease;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .switch-on .switch-circle {
                            left: 16px;
                        }
                    }
                }

                .suggestion-box-main {

                    h3 {
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 26px;
                        color: #222222;
                        letter-spacing: -0.8px;
                        margin: 0 0 24px 0;
                    }

                    .suggested-laguage-box-main {
                        margin: -8px;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        width: 100%;

                        .suggested-laguage-box {
                            padding: 8px;
                            cursor: pointer;

                            .suggested-laguage-box-inner {
                                background-color: #fff;
                                border-radius: 8px;
                                border: 1px solid transparent;
                                padding: 9px 12px;

                                &:hover {
                                    background-color: #f7f7f7;
                                }

                                p {
                                    color: #222222;
                                }

                                span {
                                    color: #6A6A6A;
                                }

                                p,
                                span {
                                    min-width: 154px;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }

                .choose-language-section-main {
                    margin: 24px 0 0 0;
                    padding: 0 0 24px 0;

                    h4 {
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 26px;
                        color: #222222;
                        letter-spacing: -0.8px;
                        margin: 0 0 24px 0;
                    }

                }

                .choose-language-boxes-main {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-around;

                    .laguage-box-main {
                        padding: 8px;
                        cursor: pointer;

                        &.laguage-box-main-active {

                            .laguage-box {
                                outline: 1px solid #222222 !important;
                            }
                        }

                        .laguage-box {
                            background-color: #fff;
                            border-radius: 8px;
                            border: 1px solid transparent;
                            padding: 9px 12px;
                            outline: none;

                            &:hover {
                                background-color: #f7f7f7;
                            }

                            p {
                                color: #222222;
                            }

                            span {
                                color: #6A6A6A;
                            }

                            p,
                            span {
                                min-width: 154px;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 18px;
                            }
                        }
                    }
                }

                .currency-section-main {
                    margin: 24px 0 0 0;
                    padding: 0 0 24px 0;

                    h5 {
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 26px;
                        color: #222222;
                        letter-spacing: -0.8px;
                        margin: 0 0 24px 0;
                    }
                }
            }
        }
    }
}