.container-header {
    max-width: 1903px;
    margin: 0 auto;
    padding: 0 80px;
    box-sizing: border-box;

    @media (max-width:1024px) {
        padding: 0 40px;
    }

    @media (max-width:576px) {
        padding: 0 20px;
    }
}


.container-footer {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;

    @media (max-width:1500px) {
        max-width: 1760px;
        padding: 0 80px;
    }

    @media (max-width:1400px) {
        max-width: 1760px;
        padding: 0 40px;
    }
}